{% extends "message_form.html" %}
{% load static %}

{% block content %}
    <article class="card card-message">

        <div class="card-content-message">

        	<h5 class="card-message-title">Change Password</h5>

			<form method="POST" action='.'> 
				{% csrf_token %}

			    {% if form.non_field_errors %}
			      <div class="errormsg">
			        {% for error in form.non_field_errors %}
			          {{ error }}
			        {% endfor %}
			      </div>
			    {% endif %}

				<ul class="card-fields">
					<li>
						<dir class="errormsg">{{ form.old_password.errors }}</dir>

						<div class="input-group mb-1">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
								<input name="old_password" class="form-control form-control-sm" placeholder="Enter New Password" type="password">
							</div>
						</div>	
					</li>	
					<li>
						<dir class="errormsg">{{ form.new_password1.errors }}</dir>

						<div class="input-group mb-1">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
								<input name="new_password1" class="form-control form-control-sm" placeholder="Enter New Password" type="password">
							</div>
						</div>	
					</li>	

					<li>
						<dir class="errormsg">{{ form.new_password2.errors }}</dir>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
								<input name="new_password2" class="form-control form-control-sm" placeholder="Confirm New Password" type="password">
							</div>
						</div>
					</li>

				 	<li>
						<button class="btn-sign" type="submit">Submit</button>
				 	</li>
				</ul>
			</form>
		</div>
	</article>		

{% endblock %}