{% extends "profile_page.html" %}
{% load static %}

{% block content %}            
    <dir class="main">
        <div class='wholepage-form'>

            <h5>Grouping Invite</h5>

            <p>Reach your students via email and invite them to choose a group. A standard email will be sent to all
            students in this class. The class dashboard, accessed by clicking on the folder icon from the class table, will be populated with group elements.</p>
            <hr>
            <br>
            
            {% include "form_template.html" with form=form %}

        </div>  
    </dir>
{% endblock %}